// Your custom SCSS should be written here...
.header-top {
    padding-top: 2em;
    padding-bottom: 2em;
}
.logo {
	a {
		font-size: 3rem;
		line-height: 1;
		text-transform: uppercase;
		text-decoration: none;
	}
	@include respond(all-phones) {
		margin-bottom: 2em;
	}
}


/* Search form */
.searchform {
    position: relative;
}
.search.input {
    width: 80%;
    border-radius: 4px !important;
    padding-right: 20% !important;
	background-color:#ccc;
	border: none;
}
.search.submit {
    position: absolute;
    right: 0;
    top: 0;
    width: 35%;
}


/* Foter */
.site-footer {
    background: #eee;
    padding: 3em 0;
	margin-top: 3em;
}




/* Captions */
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
	
	img[class*="wp-image-"] {
		display: block;
		margin: 0 auto;
	}	
	
	.wp-caption-text {
		margin: 0.8075em 0;
		text-align: center;
	}
}


/* Alignments */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

.sticky {
	display: block;
}
/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}
.bypostauthor{}


.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}